body {
    margin: 0;
    padding: 0;
}

#root a {
    color: #566c84;
    text-decoration: none;
}

#root a:hover {
    color: #08f;;
}

#root .container {
    margin: 0 auto;
    width: 960px;
}

#root header .container {
    display: flex;
    gap: 10px;
}

#root header .container .logo {
    margin: 0;
    width: 240px;
}

#root header .container .navi {
    flex: 1;
    text-align: right;
}

#root main .page-navi .page-num {
    margin: 0 5px;
}

#root main article.poem h2 {
    text-align: center;
}

#root main article.poem pre.content {
    margin: 0 auto;
    width: fit-content;
}

#root main article.poem pre.content blockquote {
    margin: 0;
    padding-left: 2rem;
    border-left: 5px solid rgba(0, 0, 0, 0.1);
}

#root main article.poem pre.content p,
#root main article.poem pre.content blockquote>p {
    margin: 0;
}

#root footer .container {
    text-align: center;
}