:root {
    --font-color: #45b29a;
    --bg-color: #e0ebe8;
}

@font-face {
    font-family: 'LiDeBiao';
    src: url('../fonts/LiDeBiao-Xing3.woff') format('woff'), url('../fonts/LiDeBiao-Xing3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.ldb {
    font-family: LiDeBiao !important;
}

a {
    color: var(--font-color);
}


header,
footer {
    padding: 10px;
    background-color: var(--bg-color);
}

header a,
footer .links a {
    text-decoration: none;
}

header,
header .logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

header .logo .image {
    width: 80px;
    height: 80px;
}

header .logo .title { 
    width: 10rem;
    font-size: 2rem;
    font-weight: 500;
}

header .navi {
    flex: 1;
    text-align: right;
    font-size: 1.2rem;
}

header .navi a {
    padding: 0 1rem;
}

main {
    min-height: calc(100vh - 300px);
}

footer {
    text-align: center;
    color: var(--font-color);
}

footer .links {
    display: flex;
    opacity: 0.7;
}

main.poem h2 {
    text-align: center;
}

main.poem article {
    display: flex;
    justify-content: center;
}

footer .links a {
    margin: 20px 0 30px;
    flex: 1;
    font-size: 3rem;
}

footer .links a:hover {
    opacity: 0.6;
}