@font-face {
  font-family: 'LiDeBiao';
  src: url('../fonts/LiDeBiao-Xing3.eot');
  src: url('../fonts/LiDeBiao-Xing3.eot?#iefix') format('embedded-opentype'), url('../fonts/LiDeBiao-Xing3.woff') format('woff'), url('../fonts/LiDeBiao-Xing3.ttf') format('truetype'), url('../fonts/LiDeBiao-Xing3.svg#LiDeBiao-Xing3') format('svg');
  font-weight: normal;
  font-style: normal;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block
}

[hidden] {
  display: none
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
  margin: 0;
  min-width: 300px;
  -webkit-font-smoothing: antialiased;
  font-family: "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  font-size: 1.2rem;
  line-height: 1.42857143;
  color: #545454;
  background: #fff
}

a {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #45b29a;
  text-decoration: none
}

a:active, a:hover {
  outline: 0
}

a:hover {
  color: #b2cdc5;
  text-decoration: underline
}

h1 {
  font-size: 2rem;
  margin: .7em 0
}

h1, h2, h3, h4, h5, h6, dt {
  font-weight: 500;
  line-height: 1.1
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px
}

h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px
}

abbr[title] {
  border-bottom: 1px dotted
}

b, strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #e0ebe8;
  width: 96%;
  height: 0
}

mark {
  background: #ff0;
  color: #000
}

code, kbd, pre, samp {
  font-size: 1rem
}

pre {
  white-space: pre-wrap
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden;
  width: 100%;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px
}

li {
  list-style-type: none
}

dt, dd {
  line-height: 1.5
}

dd {
  margin-left: 0
}

::selection {
  background: #e0ebe8;
  color: #45b29a;
  text-shadow: none
}

*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.flex {
  display: flex;
}

.flex .flex-one {
  flex: 1;
}

.flex .flex-two {
  flex: 2;
}

header {
  padding-top: 28px;
}

main {
  margin: 3em 0;
  background: #fff;
}

header, footer {
  background: #e0ebe8;
}

.container {
  margin: 0 auto;
  width: 98%;
}

.ldb {
  font-family: LiDeBiao !important;
}

.color-text {
  color: #45b29a;
}

.text-left {
  text-align: left
}

.text-right, main h6 {
  text-align: right
}

.text-center {
  text-align: center
}

header nav {
  margin: auto 0;
}

header nav a {
  margin-left: 1rem;
}

.logo {
  width: 72px;
  height: 72px;
}

.earth {
  overflow: hidden;
  max-height: 200px;
}

.logo img {
  height: 100%;
}

.title {
  margin: 4em 0;
}

main dt {
  font-size: 1.6rem;
}

main blockquote {
  padding: 0 1em;
  border-left: 5px solid #e0ebe8;
  font-size: 1.1rem;
  text-align: left;
}

main blockquote p {
  margin: 0;
}

.post p, main blockquote p {
  text-indent: 2em;
}

.poem p {
  line-height: 1.8rem;
}

.poem section {
  font-size: 1.4rem;
}

.song section {
  display: flex;
  justify-content: center;
}

.links dt {
  margin-top: 1rem;
  line-height: 3rem;
  font-size: 1.3rem;
}

.links dd {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 24%;
  text-indent: 2rem;
  line-height: 2.4rem;
}

main nav {
  margin-top: 3em;
}

main nav a {
  padding: 0.4em;
  margin: 0 1em;
  width: 2em;
  height: 2em;
  border: 2px solid;
  border-radius: 2em;
  display: inline-block;
  line-height: 1em;
}

main nav a.pn {
  display: none;
}

main nav a.pn.current {
  display: inline-block;
  color: #b2cdc5;
}

footer .address {
  display: flex;
  padding: 3rem 0 2rem;
  width: 50%;
  font-size: 2rem;
}

footer .address a {
  flex: 1;
}

footer p {
  margin: 0;
  padding: 1rem 0;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px
  }
}

@media (max-width: 768px) {
  header nav a {
    margin-right: 2rem;
  }

  header nav a:not(:last-child) {
    display: none;
  }

  .container {
    width: 94%;
  }

  .links dd {
    width: 33%;
  }

  .links dd {
    width: 32%;
  }

  footer .address {
    width: 90%;
  }

  footer .address a:last-child {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px
  }
  .links dd {
    width: 99%;
  }
}

@media screen and (max-width: 510px) {
  .title {
    margin-bottom: 0;
  }

  .earth {
    margin-top: 0
  }

  .links dd {
    width: 49%;
  }
}

