{% include header.top.html %}
<title>{{ page.title }} | {{ site.title }}</title>
{% include header.bottom.html %}
<!-- header end -->
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="note">
                    <h2><a href="{{ permalink }}" title="{{ page.title }}" rel="bookmark">{{ page.title }}</a></h2>
                    <div id="article">{{ content }}</div>
                </div><!--多说
                <div class="note">
                </div>-->
            </div>
        </div>
    </div>
</section>
<!-- foot start -->
{% include footer.html %}
