{% include header.html %}
<main>
  <article class="container song">
    <h2 class="text-center">
      <a href="{{ page.url }}" title="{{ page.title }}" rel="bookmark">{{ page.title }}</a>
    </h2>
    <section><div>{{ content | newline_to_br | strip_newlines | replace: '<br /><br />', ''}}</div></section>
  </article>
  <div class="container ds-thread"
       data-thread-key="{{ page.id | slugify }}"
       data-title="{{ page.title }}"
       data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}"></div>
</main>
{% include footer.html %}
